@import 'fonts.css';
@import 'circle.css';

*,p {
    margin: 0;
    padding: 0;
}
body {
    background: transparent url('../images/bg_body.png') repeat 0% 0%;
    color: #666666;
    font-family: "proxima-nova","Arial",sans-serif;
    font-size: 14px;
}
html {
    height: 100%;
    overflow-x: hidden;
}
.container {
    margin: auto;
    max-width: 1170px;
    width: 100%;
}
.mobi-show{
    display: none;
}
.show-obj{
    display: block;
}
.hide-obj{
    display: none;
}

/*btns*/
.btn{
    border-radius: 0;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
/*    -webkit-transition: all all .3s ease-out 0s ease-out;
    -moz-transition: all all .3s ease-out 0s ease-out;
    -o-transition: all all .3s ease-out 0s ease-out;
    transition: all all .3s ease-out 0s ease-out;*/
    position: relative;
    z-index: 1;
}
.btn:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    width: 0;
    z-index: -1;
}

.btn-white{
    background-color: #ffffff;
    border: 2px #285a71 solid;
    color: #285a71;
    font-weight: 600;
    padding: 12px 15px;
}
.btn-white.bgreen,
.btn-white.bgreen:hover{
    color: green;
    border-color: green;
}
.btn-white:hover{
    color: #285a71;
}
.btn-white.anim:hover{
    color: #ffffff;
}
.btn-white.anim:after {
    background: #285a71 none repeat scroll 0 0;
}
.btn-white.anim:active:after,
.btn-white.anim:hover:after,
.btn-white.anim:focus:after{
    width: 100%;
}

.btn-transparent{
    background-color: transparent;
    border: 2px #ffffff solid;
    color: #ffffff !important;
    font-size: 12px;
    padding: 10px 20px;
}

.btn-blue{
    border:1px solid #0045CE; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 12px; 
    font-weight:bold; 
    color: #FFFFFF;
    background-color: #0080CC; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0080CC), to(#0045CE));
    background-image: -webkit-linear-gradient(top, #0080CC, #0045CE);
    background-image: -moz-linear-gradient(top, #0080CC, #0045CE);
    background-image: -ms-linear-gradient(top, #0080CC, #0045CE);
    background-image: -o-linear-gradient(top, #0080CC, #0045CE);
    background-image: linear-gradient(to bottom, #0080CC, #0045CE);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#0080CC, endColorstr=#0045CE);
}
.btn-blue:hover{
    color: #FFFFFF;
    border:1px solid #013FBB;
    background-color: #017DC5; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#017DC5), to(#013FBB));
    background-image: -webkit-linear-gradient(top, #017DC5, #013FBB);
    background-image: -moz-linear-gradient(top, #017DC5, #013FBB);
    background-image: -ms-linear-gradient(top, #017DC5, #013FBB);
    background-image: -o-linear-gradient(top, #017DC5, #013FBB);
    background-image: linear-gradient(to bottom, #017DC5, #013FBB);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#017DC5, endColorstr=#013FBB  );
}

.btn-green{
    background-color: transparent;
    color: #bed600;
    border: 2px #bed600 solid;
    font-weight: 700;
    padding: 6px 12px;
    font-size: 16px;
    text-transform: uppercase;
}
.btn-green:active,
.btn-green:hover,
.btn-green:focus{
    color: #bed600;
}
.btn-green:after {
    background: #bed600 none repeat scroll 0 0;
}
.btn-green:active:after,
.btn-green:hover:after,
.btn-green:focus:after{
    width: 100%;
}

.btn-back-to-top{
    z-index: 100;
    position: fixed;
    bottom: 56px;
    right: 28px;
    display: none;
}
.btn-back-to-top i{
    font-size: 30px;
}
.btn-back-to-top .btn-green:hover i{
    color: #ffffff;
}


.btn-navbar {
    float: right;
    padding: 7px 10px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #ededed;
    background-image: -moz-linear-gradient(top,#f2f2f2,#e5e5e5);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#e5e5e5));
    background-image: -webkit-linear-gradient(top,#f2f2f2,#e5e5e5);
    background-image: -o-linear-gradient(top,#f2f2f2,#e5e5e5);
    background-image: linear-gradient(to bottom,#f2f2f2,#e5e5e5);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',endColorstr='#ffe5e5e5',GradientType=0);
    border-color: #e5e5e5 #e5e5e5 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.075);

    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #cccccc;
    height: auto;
    text-transform: none;
}
.btn-navbar .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
    box-shadow: 0 1px 0 rgba(0,0,0,0.25);
}
.icon-img {
    background-color: transparent;
    background-position: 10% 50%;;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 5px;
}
.icon-img.ii-check{
    background-image: url('../images/icon-blue-check.png');
    padding: 10px;
}
.icon-img.ii-time{
    background-image: url('../images/icon-clock.png');
    padding: 10px;
}
.icon-img.ii-tag{
    background-image: url('../images/icon-tags.png');
    padding: 10px;
}
.icon-img.ii-resource{
    background-image: url('../images/icon-resource.png');
    padding: 10px;
}
.icon-img.ii-arrow-ur{
    background-image: url('../images/arrow-up-right.png');
    padding: 8px;
    margin-right: 7px;
}
.icon-img.ii-arrow-l{
    background-image: url('../images/arrow-left.png');
    padding: 10px;
}
.icon-img.ii-users{
    background-image: url('../images/icon-users.png');
    padding: 9px;
    margin: 0 0 0 7px;
}
.icon-img.ii-user{
    background-image: url('../images/icon-user.png');
    padding:5px 5px 5px 30px;
    background-position: 0% 50%;
}
/*text*/
.text a{
    color: #666666;
    border-bottom: 1px #C9C6C0 solid;
}
.text a:hover{
    color: #666666;
    text-decoration: none;
}
h1{
    font-size: 43px;
    color: #285a71;
    background: transparent url('../images/redline.png') repeat-x 0% 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    font-family: skolar,serif;
}
.red-title{
	color: #EE291D;
	font-weight: bold;
	font-size: 16px;
}
.sb-main-title{
    color: #01b5b6;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sb-title{
    color: #01b5b6;
    font-size: 21px;
    margin-bottom: 10px;
}
.sb-title.cgrey{
    color: #666666;
}
.main-title{
    font-size: 24px;
    font-weight: 600px;
}
.subtitle{
    font-size: 17px;
}
.text{
    margin-bottom: 20px;
}
.sb-text{
    color: #38bebe;
}
.div-line{
    border-bottom: 1px #d2d2d2 solid;
    width:100%;
    margin-bottom: 30px;
}
.div-line.simple-line{
    margin: 10px 0;
}
.no-border{
    border: none !important;
}

/*form*/
textarea.ta-silver{
    background-color: #e2e2e2;
    border: 1px #666666 solid;
    border-radius: 0;
}

/*header*/
header{
	background-color: #255870;
	color: #ffffff;
}
header .header-cnt{
    width: 100%;
}
header .header-cnt .logo-cnt{
    margin-left: 30px;
}
header .header-cnt .logo-cnt img{
    max-width: 241px;
    width: 100%;
}
header .header-cnt ul{
    list-style: none;
    margin: 0;
}
header .header-cnt ul li{
    display: inline-block;
}

header .header-cnt .menu-cnt{
    text-align: right;
}
header .header-cnt .menu-cnt ul{
    list-style: none;
    margin: 0 15px 0 0;
}
header .header-cnt .menu-cnt ul li{
    margin-left: 15px;
    font-weight: bold;
}
header .header-cnt .menu-cnt ul li select{
    color: #666666;
    font-weight:normal;
}
header .header-cnt .menu-cnt ul li a{
    color: #ffffff;
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 30px;
    display: block;
}
header .header-cnt .menu-cnt ul li a:hover{
    text-decoration: none;
}
header .header-cnt .menu-cnt .main-menu ul{
    float: right;
}
header .header-cnt .menu-cnt .main-menu ul li.current a{
    border-top: 5px solid #bed600 !important;
}
header .header-cnt .menu-cnt .main-menu ul li a:hover{
    border-top: 5px solid #94abb1;
}
header .header-cnt .menu-cnt .main-menu .mm-select-cnt{
    float: right;
    color: #666;
    padding: 27px 20px 0px 10px;
}

header .header-cnt .bottom-menu{
    background-color: #ffffff;
    width: 100%;
    padding: 0px 30px;
    border: 1px #999 solid;
    border-radius: 2px;
}
header .header-cnt .bottom-menu ul{
}
header .header-cnt .bottom-menu li{
    font-size: 13px;
    float: left;
}
header .header-cnt .bottom-menu li a{
    color: #777777;
    padding: 6px 12px;
    display: block;
}
header .header-cnt .bottom-menu li a.icon-notify{
    padding: 6px 12px;
}
header .header-cnt .bottom-menu li a:hover{
    color: #333333;
    text-decoration: none;
}
header .header-cnt .bottom-menu li .glyphicon{
    font-size: 12px;
}

header .header-cnt .bottom-menu li.logout-item{
    float: right;
}
header .header-cnt .bottom-menu .dropdown:hover{
    color: #555555;
    text-decoration: none;
    background-color: #e5e5e5;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}
header .header-cnt .bottom-menu .dropdown:hover .dropdown-menu{
    display: block;
}
header .header-cnt .bottom-menu .dropdown .dropdown-menu{
}
header .header-cnt .bottom-menu .dropdown .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    left: 9px;
}
header .header-cnt .bottom-menu .dropdown .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 10px;
}
header .header-cnt .bottom-menu .dropdown .dropdown-menu li{
    display: block;
    width: 100%;
}
header .header-cnt .bottom-menu .dropdown-menu > li > a:hover, 
header .header-cnt .bottom-menu .dropdown-menu > li > a:focus,
header .header-cnt .bottom-menu .dropdown .dropdown-menu li.active a,
header .header-cnt .bottom-menu .dropdown .dropdown-menu li.active a:hover,
header .header-cnt .bottom-menu .dropdown .dropdown-menu li.active a:focus{
    color: #ffffff !important;
    text-decoration: none;
    outline: 0;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top,#0088cc,#0077b3);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#0088cc),to(#0077b3));
    background-image: -webkit-linear-gradient(top,#0088cc,#0077b3);
    background-image: -o-linear-gradient(top,#0088cc,#0077b3);
    background-image: linear-gradient(to bottom,#0088cc,#0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0077b3',GradientType=0);
}
header .header-cnt .fixed-menu{
    left: 0;
    position: fixed;
    top: 0;
    z-index: 100;
}

.icon-notify{
    position: relative;
    padding: 6px 8px !important;
}
.icon-notify .in-qant{
    background-color: #3A99CF;
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 9px;
    color: #ffffff;
    position: absolute;
    top: 2px;
    right: 0px;
    font-weight: bold;
}

/*body*/
.main-cont-page{
    width: 100%;
    /*-webkit-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;*/
}

.body-cnt{
    padding: 30px 0 50px;
}
.body-cnt ul{
    list-style: none;
    margin: 0;
}
.body-cnt ul li{
    display: inline-block;
}

.info-cnt{
    padding: 20px 0 30px;
}
.bottom-line{
    border-bottom: 1px #D7D1CD solid;
}
.white-panel{
    background-color: #ffffff;
    padding: 20px;
}
.white-panel .wp-link{
    margin-left: 25px;
}
.white-panel .wp-link a{
    text-decoration: underline;
}
.white-panel .wp-link a:hover{
    text-decoration: none;
}
.white-panel .wp-text{
    margin-bottom: 20px;
}
.white-panel .wp-text a{
    color: #666666;
}
.white-panel .wp-text.sm-margin{
    margin-bottom: 10px;
}
.white-panel .wp-text.xs-margin{
    margin-bottom: 5px;
}
a.tag-cnt,
a.tag-cnt:hover{
    color: #666666;
    text-decoration: none;
}
.tag{
    background-color: #B7E3E4;
    padding: 5px 10px;
    margin-right: 2px;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 10px;
}

.box-cactivity {
    background-color: #FFF;
    border: 1px solid #999;
    padding: 15px 56px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;
    clear:both;
}
.box-cactivity a{
    color: #285a71;
}
.box-cactivity .bca-pic{
    position: absolute;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #ffffff;
    padding: 3px;
    top:-12px;
    left: -1px;
}
.box-cactivity .bca-pic img{
    width: 36px;
}

.box-cactivity .bca-comments-cnt .bca-pic{
    position: static;
    padding: 2px;
    float: left;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}
.box-cactivity .bca-comments-cnt .bca-pic img{
    width: 39px;
}
.box-cactivity .bca-title{
    font-weight: bold;
    color: #285a71;
    margin-bottom: 5px;
}
.box-cactivity .bca-info{
}
.box-cactivity .bca-info .bca-user-name{
    text-decoration: underline;
}
.box-cactivity .bca-comments-cnt{
    border-left: 1px solid #EEEEEE;
    padding: 5px 10px;
}
.box-cactivity .bca-comments-cnt .bca-comments{
    float: right;
    width: 74%;
}
.box-cactivity .bca-time{
	color: #AAAAAA;
	font-size: 12px;
	margin-bottom: 20px;
}
.box-cactivity .bca-img{
    margin: 10px 0 20px;
}
.box-cactivity .bca-img img{
    max-width: 100%;
}
.box-cactivity .bca-links a{
	color: #AAAAAA;
	margin-right: 10px;
}

.bar-menu{
    width: 100%;
    padding: 6px;
    border: 1px solid #dadada;
    background: #f9f9f9;
    border-radius: 3px;
    margin-bottom: 20px;
}
.bar-menu ul li{
    padding: 3px 8px;
    border-left: 1px #dadada solid;
}
.bar-menu ul li:first-child{
    border:none;
}
.bar-menu ul li a{
    color: #285a71;
}

.bar-menu ul.btn-menu li{
    padding: 5px 8px;
    border-left:none;
}
.bar-menu ul.btn-menu li.active{
    background-color: #666666;
    border-radius: 3px;
    margin-right: 3px;
}
.bar-menu ul.btn-menu li a{
    color: #666666;
}
.bar-menu ul.btn-menu li.active a{
    color: #ffffff;
}


.main-top-page{
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 20px;
}
.main-top-page .mtp-img{
    /*background: transparent url('../images/special-topics.jpg') no-repeat 0% 0%;
    background-size: cover;
    height: 400px;*/
    position: relative;
}
/*.main-top-page .mtp-img.welcome-cover{
    background-image: url('../images/welcome-cover.png');
}*/
.main-top-page .mtp-img .mtpi-img{
    width: 100%;
}
.main-top-page .mtp-img p{
    position: absolute;
    bottom: 10px;
}
.main-top-page .mtp-img .mtpi-info{
    color: #ffffff;
    font-size: 18px;
    left: 25%;
    font-family: skolar,serif;
}
.main-top-page .mtp-img .mtpi-btn{
    right: 6%;
}
.main-top-page .mtp-info{
    position: relative;
    min-height: 70px;
}
.main-top-page .mtp-info .mtp-logo {
    border: 1px #A4A4A4 solid;
    border-radius: 3px;
    width: 120px;
    position: absolute;
    left: 20px;
    top:-70px;
    background-color: #ffffff;
    padding: 5px;
}
.main-top-page .mtp-info .mtp-logo img{
    width: 100%;
}
.main-top-page .mtp-info .mtp-links {
    margin:5px 0 5px 25%;
}
.main-top-page .mtp-info .mtp-links a{
    color: #0088cc;
    margin-right: 8px;
    font-size: 16px;
}
.main-top-page .mtp-bottom{
    border-top: 1px solid #dadada;
    background: #f9f9f9;
    padding: 10px 15px;
}
.main-top-page .mtp-bottom a{
    color: #666666;
    margin-right: 10px;
}
.main-top-page .mtp-bottom .right-text{
    float: right;
    margin-right: 0;
}

.dual-panel{
    border: 1px solid #dadada;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 3px;
}
.dual-panel .dp-top{
    position: relative;
    padding: 3px 0;
    margin: 0;
}
.dual-panel .dp-top .dt-label{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #EEEEEE;
    color: #666666;
    font-size: 12px;
    padding: 2px 5px;
}
.dual-panel .dp-top .form-control{
    border: none;
    background-color: #ffffff;
    padding-right: 48px;
    box-shadow: none;
}
.dual-panel .dp-bottom{
    border-top: 1px solid #dadada;
    background: #f9f9f9;
    padding: 10px 20px;
    border-radius: 0 0 5px 5px;
}
.dual-panel .dp-bottom a{
    color: #666666;
    margin-right: 15px;
}
.dual-panel .dp-bottom a.active{
    color: #2781cd;
    
}
.info-panel{
    background-color: #FFF;
    border: 1px solid #999;
    padding: 20px 10px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.info-panel.bgsb{
    background-color: #E3E6EE;
}
.info-panel a{
    color: #337ab7;
}
.info-panel ol{
    margin-left: 10px;
}
.info-panel ol li{
    list-style-position: inside;
}
.info-panel ol li a,
.info-panel .ip-bottom-link a{
    color: #666666 !important;
}
.info-panel .ip-bottom-link{
    margin-left: 24px;
}
.info-panel .ip-img{
		margin: 0 5px 5px 0;
		display: inline-block;
}
.info-panel.ip-imgx2 .ip-img{
	width: 47.5%;
}
.info-panel.ip-imgx3 .ip-img{
	width: 31%;
}
.info-panel.ip-imgx2 .ip-img img,
.info-panel.ip-imgx3 .ip-img img{
	width: 100%;
}
.info-panel .emty-msg{
		padding: 30px 0;
		text-align: center;
}
.feedback-cont{
    
}

.feedback-cont .fc-item{
    
}

.feedback-cont .fc-item .dropdown{
    float: right;
    margin-bottom: 10px;
    color: #b2b2b2;
}
.feedback-cont .fc-item .dropdown .dropdown-toggle{
    background-color: transparent;
    border: none;
}
.video-cnt{
    width: 98%;
}
.video-cnt.grey-bg{
    background-color: #b8b8b8;
    height: 400px;
}
.video-cnt img{
    width: 100%;
}
.video-cnt .play-img{
    padding: 150px 0;
    color: #eaeaea;
    text-align: center;
    font-size: 100px;
    font-weight: normal;
}
.team-cnt .row{
    margin-bottom: 30px;
}
.team-cnt .tc-pic{
    background-color: #ECEDF0;
    border: 1px #D9DADD solid;
    border-top: 1px #ffffff solid;
    padding: 15px 15px 40px;
    text-align: center;
}
.team-cnt .tc-pic img{
    width: 100%;
}
.team-cnt .tc-name{
    color: #01b5b6;
    font-size: 17px;
    margin: 20px 0;
}
.team-cnt .tc-desc{
    margin-bottom: 25px;
}
.team-cnt .tc-link a{
    color: #666666;
    text-decoration: underline;
}
.main-info-cont{
    
}
.main-info-cont .text{
    margin-bottom: 0;
}
.main-info-cont .div-line{
    margin-top: 30px;
}
.main-info-cont a.sb-text{
    text-decoration: underline;
}
.main-info-cont a:hover{
    color: #38bebe;
    text-decoration: none;
}
.step-info-cont{
    border-bottom: 1px #d2d2d2 solid;
    padding-bottom: 10px; 
    margin-bottom: 30px;   
}
.step-info-cont .info-cnt{
    padding: 0;
    font-size: 17px;
    /*display: none;*/
}
.step-info-cont .info-cnt .top-info{
    margin-bottom: 30px;
}
.step-info-cont .info-cnt .user-desc{
    margin-bottom: 35px;
}
.step-info-cont .info-cnt .user-desc .ud-pic{
    /*width: 20%;
    max-width: 75px;*/
    float: left;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 50px;
}
.step-info-cont .info-cnt .user-desc .ud-pic img{
    /*border-radius: 50px;
    width: 100%;*/
    max-width: 72px;
}
.step-info-cont .info-cnt .user-desc .ud-info{
    width: 80%;
    float: left;
    padding-top: 14px;
    padding-left: 15px;
}
.step-info-cont .info-cnt .user-desc .ud-info a{
    color: #666666;
    text-decoration: underline;
}
.step-info-cont .info-cnt .user-desc .ud-info a:hover{
    color: #666666;
    text-decoration: none;
}
.step-info-cont .info-cnt .sic-disabled-info{
    opacity: 0.4;
}
.step-info-cont .info-cnt .sic-step-list{
    margin-bottom: 30px;
}
.step-info-cont .info-cnt .sic-step-list .ssl-item{
    position: relative;
}
.step-info-cont .info-cnt .sic-step-list .ssl-item .ssl-icon{
    background-color: transparent;
    background-position: 0% 50%;;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
    float: left;
    margin-top: -3px;
}
.step-info-cont .info-cnt .sic-step-list .ssl-item .ssl-icon.ichecked{
    background-image: url('../images/icon-check.png');
}
.step-info-cont .info-cnt .sic-step-list .ssl-item .ssl-icon.ipencil{
    background-image: url('../images/icon-pencil.png');
}
.step-info-cont .info-cnt .sic-step-list .ssl-item .ssl-icon.istep-on{
    background-image: url('../images/icon-step-on.png');
}
.step-info-cont .info-cnt .sic-step-list .ssl-item .ssl-icon.istep-off{
    background-image: url('../images/icon-step-off.png');
}
.step-info-cont .info-cnt .sic-step-list .ssl-item .ssl-icon{
}
.step-info-cont .info-cnt .sic-step-list .ssl-item .ssl-desc{
    /*border-left: 6px rgb(40,90,113) solid;*/
    padding-left: 30px;
    margin-left: 11px;
}
.step-info-cont .info-cnt .sic-step-list .ssl-item .ssl-desc .ssl-bborder{
    border-bottom: 1px #d2d2d2 solid;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.step-info-cont .info-cnt .sic-step-list .ssl-text{
    float: left;
    width: 80%;
}
.step-info-cont .info-cnt .sic-step-list .ssl-time{
    float: right;
    width: 17%;
    text-align: right;
}
.step-info-cont .info-cnt .sic-step-list .ssl-item .ssl-connect-line{
    border-left: 4px rgb(40,90,113) solid;
    display: block;
    height: 20px;
    position: absolute;
    top:27px;
    left:13px;
}
.step-info-cont .bottom-link{
    font-size: 17px;
}
.step-info-cont .bottom-link a{
    background-color: transparent;
    background-position: 0% 50%;;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0 0 0 26px;
    color: #666666;
}
.step-info-cont .open-step{
    background-image: url('../images/icon-circ-arrow-down.png');
}
.step-info-cont .close-step{
    background-image: url('../images/icon-circ-arrow-up.png');

}
.claim-badge-cnt{
    
}
.claim-badge-cnt .info-cnt{
    display: block;
}
.claim-badge-cnt .info-cnt .badge-cnt{

}
.claim-badge-cnt .info-cnt .badge-cnt .bc-img{

}
.claim-badge-cnt .info-cnt .badge-cnt .bc-img img{
    width: 217px;
    height: 223px;
}
.claim-badge-cnt .info-cnt .badge-cnt .bc-btn{
    line-height: 223px;
}
.perc-info-cnt{
    margin-bottom: 30px;
}
.perc-info-cnt .pi-user-pic{
    float: left;
    width: 25%;
    max-width: 220px;
}
.perc-info-cnt .pi-user-pic img{
    max-width: 250px;
    max-height: 250px;
}
.perc-info-cnt .pi-perc{
    float: left;
    width: 25%;
    font-size: 100px;
    color: #ef4138;
    text-align: center;
    line-height: 215px;
}
.perc-info-cnt .pi-text{
    float: left;
    width: 50%;
    padding-top: 84px;
}
.perc-info-cnt .pi-text .red-txt{
    color: #ef4138;
    font-size: 25px;
}
.perc-info-cnt .pi-text .pi-comment{
    font-size: 18px;
    font-style: italic;
}
.perc-info-cnt .pi-text .pi-comment a{
    color: #666666;
    text-decoration: underline;
}
.perc-info-cnt .pi-text .pi-comment a:hover{
    color: #666666;
    text-decoration: none;
}
/*footer*/
footer{
	background: #235871;
  	color: #fff;
  	padding: 56px 0 10px 0;
}
footer a{
    font-size: 85%;
    color: #94abb1;
    text-decoration: underline;
}
footer a:hover{
    color: #94abb1;
    text-decoration: none;
}
footer .f-top-left{
    width: 295px;
    text-align: center;
}
footer .f-top-left .ftl-img {
    margin: 1em 0;
    line-height: 1.4;
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid #ECF0F1;
}
footer .f-top-left .progress{
    margin: 15px auto;
    border-radius: 2px;
    background-color: #235871;
    border: 1px solid #BDC3C7;
    height: 20px;
    position: relative;
    width: 200px;
}
footer .f-top-left .progress-bar{
    background: #bed600;
    border-radius: 1px;
    box-shadow: none;
}
footer .f-top-left .progress .progress-perc{
    color: #999;
    font-size: 14px;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
    left:0;
    text-align: center;
}

footer .footer-links{
	padding-left: 0;	
	padding-right: 0;	
}
footer .footer-links .col-sm-4{
	padding-left: 10px;	
	padding-right: 10px;	
}
footer .footer-links .fl-title{
	font-family: skolar,serif;
	line-height: 1.1;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 28px;
}
footer .footer-links a{
	padding: 0 0 14px;
	display: block;
	line-height: 24px;
}
footer .f-bottom-section{
    padding: 56px 0 10px 0;
    margin-top: 40px;
    border-top: 1px solid rgba(255,255,255,0.05);
}
footer .copy-text-cnt{
    color: #94abb1;
    line-height: 1.2;
    font-size: .9em;
}
footer .fbs-img-cnt{
    opacity: .85;
    text-align: center;
}
footer .social-links{
    
}
footer .social-links a{
    background-color: transparent;
    background-position: 0% 0%;;
    background-repeat: no-repeat;
    padding: 15px;
    margin: 0 14px 3px 3px;
    opacity: .85;
    display: inline-block;
}
footer .social-links a.sl-fb{
    background-image: url('../images/facebook.png');
}
footer .social-links a.sl-tw{
    background-image: url('../images/twitter.png');
}
footer .social-links a.sl-gp{
    background-image: url('../images/google.png');
}
footer .social-links a.sl-pin{
    background-image: url('../images/pinterest.png');
}
footer .social-links a.sl-youtube{
    background-image: url('../images/youtube.png');
}
footer .social-links a.sl-in{
    background-image: url('../images/linkedin.png');
}





