@media only screen and (max-width: 1199px) {
}
@media only screen and (max-width: 1080px) {
}
@media only screen and (max-width: 991px) {
	header .header-cnt .logo-cnt {
    margin-left: 0;
	}
	header .header-cnt .menu-cnt ul {
    margin: 0 10px 0 0;
  }
  header .header-cnt .menu-cnt ul li{
    margin-left: 7px;
    font-size: 13px;
  }
  header .header-cnt .menu-cnt .main-menu .mm-select-cnt {
    padding: 27px 5px 0px 3px;
}
	header .header-cnt .bottom-menu {
    padding: 0px 10px;
  }
	header .header-cnt .bottom-menu li a {
    padding: 6px;
	}
	.info-panel .ip-img {
    margin: 0 0px 5px 0;
	}
}
@media only screen and (max-width: 900px) {
	.perc-info-cnt .pi-user-pic {
    float: none;
    width: 100%;
    max-width: 220px;
    margin: auto;
	}
	.perc-info-cnt .div-br {
    clear:both;
    display: block;
	}
	.perc-info-cnt .pi-perc {
    width: 45%;
    line-height: 1;
	}
	.perc-info-cnt .pi-text {
    padding-top: 0;
	}
}

@media only screen and (max-width: 767px) {
	.mobi-show{
		display: block;
	}
	.mobi-hide{
		display: none;
	}
	.btn-back-to-top{
		display: none !important;
	}
	/*.mobi-menu {
		color: #fff;
    font-size: 30px;
    padding-top: 15px;
	}
	.mobi-menu:hover, .mobi-menu:active  {
		color: #fff;
	}*/

	.container {
    padding-left: 30px;
    padding-right: 30px;
	}
	.main-cont-page.move-body{
    margin-left: -250px;
    /*-webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;*/
	}

	.main-menu-mobi{
		background: #bed600!important;
    color: #666;
    position: absolute;
    right: 0px;
    top: 0;
    width: 0px;
    overflow: hidden;
    z-index: 101;
    height: 100px;
    -webkit-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
    /*-webkit-transform-origin: left center;
	 	-webkit-transform-style: preserve-3d;
 		-webkit-transition: -webkit-transform 0.5s ease-in-out;
    -webkit-transform: rotateY(59deg) translateX( -150px ) translateY(5px) translateZ(50px);*/
 		/*-webkit-transform: rotateY(70deg) translateX( -150px ) translateY(24px) translateZ(50px);*/
	}
	.main-cont-page.move-body .main-menu-mobi{
    width: 250px;
    overflow: auto;
    
    /*-webkit-transform: rotateY(0deg) translateX( 0px ) translateY(0px) translateZ(0px);*/

	}
	.main-menu-mobi .mmm-title-cnt{
		background-color: #000000;
		color: #ffffff;
		line-height: 35px;
		font-weight: bold;
		font-size: 28px;
		position: relative;
		font-family: skolar,serif;
		padding: 8px 15px;
	}
	.main-menu-mobi .mmm-title-cnt .close-btn{
		position: absolute;
		right: 7px;
		top: 0px;
		font-family: arial;
		font-size: 14px;
	}
	.main-menu-mobi .mmm-title-cnt .close-btn a{
		color: #666666;
	}
	.main-menu-mobi .mmm-items{
		padding: 20px;
	}
	.main-menu-mobi ul{
		list-style: none;
	}
	.main-menu-mobi ul li{
		border-bottom: 1px #1e1e1e solid;
		padding: 15px 0;
	}
	.main-menu-mobi ul li a{
		color: #666666;
		padding-left: 30px;
    position: relative;
    font-size: 16px;
	}
	.main-menu-mobi ul li a:before{
    content: "\f00a";
    position: absolute;
    left: 0;
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    margin-top: 5px;
    font-size: 10px;
	}
	.main-menu-mobi .mmm-top-menu{
		margin-bottom: 10px;
	}
	.main-menu-mobi .mmm-top-menu li:last-child{
		border-bottom: none;
	}


	header .header-cnt .logo-cnt {
    margin-left: 23px;
	}
	header .header-cnt .menu-cnt{
		padding-right: 30px;
	}
	header .header-cnt .menu-cnt .main-menu .mm-select-cnt{
		float: none;
		padding: 10px 0 0;
	}
	header .header-cnt .menu-cnt .main-menu .btn-white{
		float: right;
		margin: 7px 0;
		border: none;
		padding: 8px 12px;
	}
	header .header-cnt .bottom-menu {
    padding: 0px 30px;
    position: relative;
  }
	header .header-cnt .bottom-menu ul{
    float: left;
  }
	header .header-cnt .bottom-menu li.logout-item {
    float: left;
	}
	header .header-cnt .bottom-menu .bm-collapse-menu{
		position: absolute;
    background-color: #fff;
    top: 31px;
    width: 90%;
    overflow: hidden;
    border: 2px solid #ccc;
    border-top: none;
    z-index: 100;
    height: 0;
    -webkit-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
	}
	header .header-cnt .bottom-menu .open-menu{
		height: 220px;
	}
	header .header-cnt .bottom-menu .bm-collapse-menu li {
    float: none;
    display: block;
	}
	header .header-cnt .bottom-menu li.option-icon{
		display: none;
	}
	.main-right-cnt{
		padding-top: 35px;
	}
	.info-panel .ip-img {
    margin: 0 5px 5px 0;
	}
	.info-panel.ip-imgx2 .ip-img {
    width: 31%;
	}
	.main-top-page .mtp-img .mtpi-info {
    margin-left: 105px;
    left: 0;
  }
  .main-top-page .mtp-info .mtp-logo{
  	top: -67px;
  	width: 70px;
  }
  .main-top-page .mtp-info .mtp-links{
    margin-left: 25px;
    padding-top: 15px;
  }
  .main-top-page .mtp-info .mtp-links a {
    margin-right: 20px;
  }
  .main-top-page .mtp-info .mtp-links .mptl-mid{
    display: block;
    height: 5px;
  }
  .main-top-page .mtp-info .mtp-links .stars-cnt{
  	display: block;
  	padding-top: 7px;
  }
  .team-cnt .row {
    margin-bottom: 60px;
	}
	footer {
    padding: 0 0 10px 0;
	}
	footer .f-top-section{
		display: none;
	}
	footer .f-bottom-section {
    padding: 30px 0 10px 0;
    margin-top: 0;
    border-top:none;
	}
	footer .copy-text-cnt {
    padding-top: 20px;
  }
	footer .footer-links .fl-title {
		margin-bottom: 10px;
	}
	footer .fbs-img-cnt {
    margin-top: 35px;
	}
}
@media only screen and (max-width: 479px) {
	.box-cactivity {
    padding-right:20px;
  }
	.box-cactivity .bca-comments-cnt .bca-pic{
		display: none;
	}
	.box-cactivity .bca-comments-cnt .bca-comments {
    float: left;
    width: 100%;
	}
	.info-panel.ip-imgx2 .ip-img {
    width: 45.5%;
	}
	.dual-panel .dp-bottom .dp-text{
		display: none;
	}
	.video-cnt.grey-bg {
    height: 200px;
	}
	.video-cnt .play-img {
    padding: 50px 0;
  }
  .claim-badge-cnt .info-cnt .badge-cnt .bc-img {
    width: 100%;
    text-align: center;
	}
	.claim-badge-cnt .info-cnt .badge-cnt .bc-btn {
    line-height: 110px;
    width: 100%;
    text-align: center;
	}
	.perc-info-cnt .pi-user-pic {
    float: none;
    width: 100%;
    max-width: 220px;
    margin: auto;
	}
	.perc-info-cnt .pi-perc {
    float: none;
    width: 100%;
    text-align: center;
	}
	.perc-info-cnt .pi-text {
    float: none;
    width: 100%;
    text-align: center;
	}

	footer .container {
    padding-left: 0;
    padding-right: 0;
	}
}
@media only screen and (max-width: 320px) {
	
	footer .container {
    padding-left: 30px;
    padding-right: 30px;
	}
	footer .f-bottom-section .row .col-xs-6{
		width: 100%;
		float: none;
		text-align: center;
		margin-bottom: 30px;
	}
	footer .footer-links .fl-title {
    margin-bottom: 20px;
	}
	footer .copy-text-cnt {
    padding-top: 0;
	}
	
}
